<p>
  <mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-divider></mat-divider>
<section>
  <form class="example-form">

    <div class="flex-container">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Text to Speak</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" id="text-ts" placeholder="Ex. It makes me feel..."
          (ngModelChange)="handleTextChange($event)" [ngModel]="text_ts"
          [ngModelOptions]="{standalone:true}"></textarea>
      </mat-form-field>
    </div>

    <div class="flex-container">
      <mat-form-field appearance="fill">
        <mat-label>Language / locale</mat-label>
        <mat-select [(value)]="lang">
          <mat-option value="en-US">English (United States)</mat-option>
          <mat-option value="en-GB">English (Great Britain)</mat-option>
          <mat-option value="en-AU">English (Australia)</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="handleSpeakRequest($event)">SPEAK IT</button>
    </div>

  </form>
</section>
